*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #808080;
}



.container{
    margin-top: 30px;
    background-color: white;
    width: 1000px;
    padding: 20px;
    /* height: 500px; */
    /* justify-content: center; */
    margin: 50px auto;
    border-radius: 10px;
}


.container-one{
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-bottom: 30px;
}

.one {
    width: 350px;
    margin-top: 15px;
}

h1{
    color: #511f50;
}

.only{
    margin-top: 10px;
    color: #808080;
}

.two {
  width: 400px;  
  margin-top: 20px;
}


.card-one {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #f7f2f8;
    margin-top: 10px;
    margin-right: 40px;
    padding-left: 20px;
    width: 330px;
    height: 40px;
    border-radius: 5px;
}

.card-two {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #f7f2f8;
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 20px;
    width: 330px;
    height: 40px;
    border-radius: 5px;
}

.card-three{
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #f7f2f8;
    margin-top: 10px;
    margin-left: 40px;
    padding-left: 20px;
    width: 330px;
    height: 40px;
    border-radius: 5px;
}

.container-two {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.verified-one {
    background-color: #511f50;
    padding-left: 30px;
    border-radius: 5px;
    height: 200px;
    color: #fff5ff;
}

.print{
    color: #ffe8ff;
}

.foot {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.Smith{
    color: #fff3ff;
}

.buyer {
    color: #a8588d;
}

.verified-one-two {
    margin-top: 30px;
}

.verified-one img {
    border-radius: 50%;
    width: 30px;
    margin-top: 30px;
    margin-left: 30px;
}

.verified-two {
    background-color: #511f50;
    padding-left: 30px;
    border-radius: 5px;
    margin-top: 30px;
    height: 200px;
    color: #fff5ff;
}

.find {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.Roberts {
    color: #fff3ff;
}

.verified {
    color: #a8588d;
}

.verified-two-three {
    margin-top: 30px;
}

.verified-two img {
    border-radius: 50%;
    width: 30px;
    margin-top: 30px;
    margin-left: 30;
}

.verified-three {
    background-color: #511f50;
    padding-left: 30px;
    border-radius: 5px;
    margin-top: 60px;
    height: 200px;
    color: #fff5ff;
}

.name{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.Wallace {
    color: #fff3ff;
}

.Customer {
    color: #a8588d;
}

.verified-three-one {
    margin-top: 30px;
}


.verified-three img {
    border-radius: 50%;
    width: 30px;
    margin-top: 30px;
    /* margin-top: 30px; */
    
}


@media all and (max-width: 700px) {

    .container{
        width: 100%;
        margin-left: 50px;
    /* padding: 30px; */
    }

    .container-one {
        display: flex;
        gap: 30px;
        height: 100%;
        flex-direction: column;
    }

    .container-two {
        display: flex;
        flex-direction: column;
    }

  
    .card-one {
        margin-left: 0;
    }

    .card-two {
        margin-left:0 ;
    }

    .card-three {
        margin-left: 0;
    }
}


@media all and (max-width: 320px) {
    .container {
        width: 120%;
    }
}